@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    A software consulting and development firm to bridge the gap between the midlevel university students
    to
</p>
